.header {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 1rem 0 0.8rem;
  background-color: #006a96;
  overflow: hidden;
}

.header-wrapper {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-family: "Ubuntu", sans-serif;
  color: #ffcd00;
  font-size: 2.5rem;
  font-weight: 700;
  font-style: italic;
  text-decoration: none;
}
