.header {
  padding: 1rem 0 2rem;
  background-color: #006a96;
}

.header-wrapper {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-family: "Caveat", cursive;
  color: #ffcd00;
  font-size: 3rem;
  text-decoration: none;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  color: #ffcd00;
  font-weight: bold;
  font-size: 1.3rem;
  margin-right: 1.3rem;
  text-decoration: none;
  background-color: none;
  border-radius: 5px;
  padding: 5px;
}

.nav-item:hover {
  background-color: #ffcd00;
  border-radius: 5px;
  padding: 5px;
  color: #182b49;
}

.active-nav-item {
  background-color: #ffcd00;
  border-radius: 5px;
  padding: 5px;
  color: #182b49;
}
