html,
body {
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-position: center center;
}

.header {
}

.content {
  padding: 1rem;
  margin: 0 auto;
  width: 60%;
  flex-grow: 1;
}
