* {
  margin: 0;
  padding: 0;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; // TODO: daynamically change for responsive nav
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
  list-style-type: none;
  display: none;
}

.toggle_button {
  display: flex;
  cursor: pointer;
}

.nav-item {
  order: 2;
  color: #ffcd00;
  background-color: none;
  // margin-right: 1rem;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.3rem;
  text-decoration: none;
  text-align: center;
}

.nav-item:hover,
.active-nav-item {
  background-color: #ffcd00;
  border-radius: 5px;
  padding: 5px;
  color: #182b49;
}

.toggle-button {
  order: 1;
  color: #ffcd00;
  font-size: 1.6rem;
}

.toggle-button:hover,
.toggle-button:active {
  order: 1;
  font-size: 1.6rem;
  color: #ffcd00;
}

// TODO: Add transition to menu slide down when collapse

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// /* Tablet Menu */

// @media all and (min-width: 600px) {
//   .menu {
//     justify-content: center;
//   }
//   .toggle_button {
//     flex: 1;
//   }
//   .nav-item {
//     width: auto;
//     order: 1;
//   }
// }

// /* Desktop menu */

// @media all and (min-width: 900px) {
//   .navitem {
//     display: block;
//     width: auto;
//   }
//   li.toggle_button {
//     display: none;
//   }
// }
